
@page "/countries"
@using parcial1.Shared.Entities;
@using parcial1.WEB.Repositories;
@inject IRepository repository

<h3>Paises</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">Nuevo País</a>
</div>
<div class="mb-3">

    
    <label>Ticket ID:</label>
    <div>
        <InputNumber class="form-control" @bind-Value="@TicketID" />
        @*<ValidationMessage For="@(() => TicketID)" />*@
    </div>

</div>

@code {
    public List<Ticket>? Tickets { get; set; }
    public int TicketID;
    protected async override Task OnInitializedAsync()
    {
        var responseHppt = await repository.Get<List<Ticket>>("api/tickets");
        Tickets = responseHppt.Response!;
    }
}
